<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.vanstone.jupin.ecs.product.framework.persistence.PDTAttributeEnumvalueDOMapper">
	<resultMap id="BaseResultMap" type="com.vanstone.jupin.ecs.product.framework.persistence.object.PDTAttributeEnumvalueDO">
		<id column="ID" property="id" jdbcType="INTEGER" />
		<result column="ATTRIBUTE_DEF_ID" property="attributeDefId" jdbcType="INTEGER" />
		<result column="SORT" property="sort" jdbcType="INTEGER" />
		<result column="VALUE_STATE" property="valueState" jdbcType="INTEGER" />
	</resultMap>
	<resultMap id="ResultMapWithBLOBs" type="com.vanstone.jupin.ecs.product.framework.persistence.object.PDTAttributeEnumvalueDO" extends="BaseResultMap">
		<result column="OBJECTTEXT" property="objecttext" jdbcType="LONGVARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		ID, ATTRIBUTE_DEF_ID, SORT, VALUE_STATE
	</sql>
	<sql id="Blob_Column_List">
		OBJECTTEXT
	</sql>
	<select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		,
		<include refid="Blob_Column_List" />
		from pdt_attribute_enumvalue
		where ID = #{id,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from pdt_attribute_enumvalue
		where ID = #{id,jdbcType=INTEGER}
	</delete>
	<delete id="deleteByAttributeID" parameterType="map">
		DELETE FROM pdt_attribute_enumvalue 
		WHERE ATTRIBUTE_DEF_ID = #{attributeId, jdbcType=INTEGER}
	</delete>
	<insert id="insert"
		parameterType="com.vanstone.jupin.ecs.product.framework.persistence.object.PDTAttributeEnumvalueDO"
		useGeneratedKeys="true" keyProperty="id">
		<selectKey resultType="int" order="AFTER" keyProperty="id">
			select LAST_INSERT_ID() as id
		</selectKey>
		insert into pdt_attribute_enumvalue (ID, ATTRIBUTE_DEF_ID, SORT,
		VALUE_STATE, OBJECTTEXT)
		values (#{id,jdbcType=INTEGER}, #{attributeDefId,jdbcType=INTEGER},
		#{sort,jdbcType=INTEGER},
		#{valueState,jdbcType=INTEGER}, #{objecttext,jdbcType=LONGVARCHAR})
	</insert>
	<insert id="insertSelective"
		parameterType="com.vanstone.jupin.ecs.product.framework.persistence.object.PDTAttributeEnumvalueDO"
		useGeneratedKeys="true" keyProperty="id">
		<selectKey resultType="int" order="AFTER" keyProperty="id">
			select LAST_INSERT_ID() as id
		</selectKey>
		insert into pdt_attribute_enumvalue
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				ID,
			</if>
			<if test="attributeDefId != null">
				ATTRIBUTE_DEF_ID,
			</if>
			<if test="sort != null">
				SORT,
			</if>
			<if test="valueState != null">
				VALUE_STATE,
			</if>
			<if test="objecttext != null">
				OBJECTTEXT,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="attributeDefId != null">
				#{attributeDefId,jdbcType=INTEGER},
			</if>
			<if test="sort != null">
				#{sort,jdbcType=INTEGER},
			</if>
			<if test="valueState != null">
				#{valueState,jdbcType=INTEGER},
			</if>
			<if test="objecttext != null">
				#{objecttext,jdbcType=LONGVARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective"
		parameterType="com.vanstone.jupin.ecs.product.framework.persistence.object.PDTAttributeEnumvalueDO">
		update pdt_attribute_enumvalue
		<set>
			<if test="attributeDefId != null">
				ATTRIBUTE_DEF_ID = #{attributeDefId,jdbcType=INTEGER},
			</if>
			<if test="sort != null">
				SORT = #{sort,jdbcType=INTEGER},
			</if>
			<if test="valueState != null">
				VALUE_STATE = #{valueState,jdbcType=INTEGER},
			</if>
			<if test="objecttext != null">
				OBJECTTEXT = #{objecttext,jdbcType=LONGVARCHAR},
			</if>
		</set>
		where ID = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKeyWithBLOBs"
		parameterType="com.vanstone.jupin.ecs.product.framework.persistence.object.PDTAttributeEnumvalueDO">
		update pdt_attribute_enumvalue
		set ATTRIBUTE_DEF_ID = #{attributeDefId,jdbcType=INTEGER},
		SORT = #{sort,jdbcType=INTEGER},
		VALUE_STATE = #{valueState,jdbcType=INTEGER},
		OBJECTTEXT = #{objecttext,jdbcType=LONGVARCHAR}
		where ID = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey"
		parameterType="com.vanstone.jupin.ecs.product.framework.persistence.object.PDTAttributeEnumvalueDO">
		update pdt_attribute_enumvalue
		set ATTRIBUTE_DEF_ID = #{attributeDefId,jdbcType=INTEGER},
		SORT = #{sort,jdbcType=INTEGER},
		VALUE_STATE = #{valueState,jdbcType=INTEGER}
		where ID = #{id,jdbcType=INTEGER}
	</update>
	<select id="selectByAttributeDefId" parameterType="map"
		resultMap="ResultMapWithBLOBs">
		SELECT
		<include refid="Base_Column_List" />
		,
		<include refid="Blob_Column_List" />
		FROM
		pdt_attribute_enumvalue
		WHERE
		ATTRIBUTE_DEF_ID = #{attributeDefId,jdbcType=INTEGER}
		ORDER BY SORT DESC
	</select>
	<select id="selectByAttributeDefId_AttributeName" parameterType="map" resultMap="ResultMapWithBLOBs">
		SELECT <include refid="Base_Column_List"/>,<include refid="Blob_Column_List"/>
		FROM 
		pdt_attribute_enumvalue 
		WHERE
		ATTRIBUTE_DEF_ID = #{attributeDefId,jdbcType=INTEGER} 
		AND 
		OBJECTTEXT = #{objecttext,jdbcType=LONGVARCHAR} 
	</select>
	<select id="selectByAttributeDefId_AttributeName_NotSelf" parameterType="map" resultMap="ResultMapWithBLOBs">
		SELECT <include refid="Base_Column_List"/>,<include refid="Blob_Column_List"/>
		FROM 
		pdt_attribute_enumvalue 
		WHERE
		ATTRIBUTE_DEF_ID = #{attributeDefId,jdbcType=INTEGER} 
		AND 
		OBJECTTEXT = #{objecttext,jdbcType=LONGVARCHAR} 
		AND 
		ID &lt;&gt; #{id,jdbcType=INTEGER}
	</select>
	<select id="selectMaxSortValueByAttributeDefId" parameterType="map" resultType="integer">
		SELECT MAX(SORT) FROM 
		pdt_attribute_enumvalue 
		WHERE 
		ATTRIBUTE_DEF_ID = #{attributeDefId,jdbcType=INTEGER} 
	</select>
</mapper>