<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.vanstone.jupin.authority.persistence.AuthAdminDOMapper" >
  <resultMap id="BaseResultMap" type="com.vanstone.jupin.authority.persistence.object.AuthAdminDO" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="SYS_INSERT_TIME" property="sysInsertTime" jdbcType="TIMESTAMP" />
    <result column="SYS_UPDATE_TIME" property="sysUpdateTime" jdbcType="TIMESTAMP" />
    <result column="ADMIN_NAME" property="adminName" jdbcType="VARCHAR" />
    <result column="ADMIN_PWD" property="adminPwd" jdbcType="VARCHAR" />
    <result column="EMAIL1" property="email1" jdbcType="VARCHAR" />
    <result column="EMAIL2" property="email2" jdbcType="VARCHAR" />
    <result column="EMAIL3" property="email3" jdbcType="VARCHAR" />
    <result column="EMAIL4" property="email4" jdbcType="VARCHAR" />
    <result column="ADMIN_ROLE" property="adminRole" jdbcType="INTEGER" />
    <result column="ADMIN_STATE" property="adminState" jdbcType="INTEGER" />
    <result column="LAST_LOGIN_TIME" property="lastLoginTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, SYS_INSERT_TIME, SYS_UPDATE_TIME, ADMIN_NAME, ADMIN_PWD, EMAIL1, EMAIL2, EMAIL3, 
    EMAIL4, ADMIN_ROLE, ADMIN_STATE, LAST_LOGIN_TIME
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from auth_admin
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from auth_admin
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.vanstone.jupin.authority.persistence.object.AuthAdminDO" >
    insert into auth_admin (ID, SYS_INSERT_TIME, SYS_UPDATE_TIME, 
      ADMIN_NAME, ADMIN_PWD, EMAIL1, 
      EMAIL2, EMAIL3, EMAIL4, 
      ADMIN_ROLE, ADMIN_STATE, LAST_LOGIN_TIME
      )
    values (#{id,jdbcType=VARCHAR}, #{sysInsertTime,jdbcType=TIMESTAMP}, #{sysUpdateTime,jdbcType=TIMESTAMP}, 
      #{adminName,jdbcType=VARCHAR}, #{adminPwd,jdbcType=VARCHAR}, #{email1,jdbcType=VARCHAR}, 
      #{email2,jdbcType=VARCHAR}, #{email3,jdbcType=VARCHAR}, #{email4,jdbcType=VARCHAR}, 
      #{adminRole,jdbcType=INTEGER}, #{adminState,jdbcType=INTEGER}, #{lastLoginTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.vanstone.jupin.authority.persistence.object.AuthAdminDO" >
    insert into auth_admin
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="sysInsertTime != null" >
        SYS_INSERT_TIME,
      </if>
      <if test="sysUpdateTime != null" >
        SYS_UPDATE_TIME,
      </if>
      <if test="adminName != null" >
        ADMIN_NAME,
      </if>
      <if test="adminPwd != null" >
        ADMIN_PWD,
      </if>
      <if test="email1 != null" >
        EMAIL1,
      </if>
      <if test="email2 != null" >
        EMAIL2,
      </if>
      <if test="email3 != null" >
        EMAIL3,
      </if>
      <if test="email4 != null" >
        EMAIL4,
      </if>
      <if test="adminRole != null" >
        ADMIN_ROLE,
      </if>
      <if test="adminState != null" >
        ADMIN_STATE,
      </if>
      <if test="lastLoginTime != null" >
        LAST_LOGIN_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="sysInsertTime != null" >
        #{sysInsertTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sysUpdateTime != null" >
        #{sysUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="adminName != null" >
        #{adminName,jdbcType=VARCHAR},
      </if>
      <if test="adminPwd != null" >
        #{adminPwd,jdbcType=VARCHAR},
      </if>
      <if test="email1 != null" >
        #{email1,jdbcType=VARCHAR},
      </if>
      <if test="email2 != null" >
        #{email2,jdbcType=VARCHAR},
      </if>
      <if test="email3 != null" >
        #{email3,jdbcType=VARCHAR},
      </if>
      <if test="email4 != null" >
        #{email4,jdbcType=VARCHAR},
      </if>
      <if test="adminRole != null" >
        #{adminRole,jdbcType=INTEGER},
      </if>
      <if test="adminState != null" >
        #{adminState,jdbcType=INTEGER},
      </if>
      <if test="lastLoginTime != null" >
        #{lastLoginTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.vanstone.jupin.authority.persistence.object.AuthAdminDO" >
    update auth_admin
    <set >
      <if test="sysInsertTime != null" >
        SYS_INSERT_TIME = #{sysInsertTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sysUpdateTime != null" >
        SYS_UPDATE_TIME = #{sysUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="adminName != null" >
        ADMIN_NAME = #{adminName,jdbcType=VARCHAR},
      </if>
      <if test="adminPwd != null" >
        ADMIN_PWD = #{adminPwd,jdbcType=VARCHAR},
      </if>
      <if test="email1 != null" >
        EMAIL1 = #{email1,jdbcType=VARCHAR},
      </if>
      <if test="email2 != null" >
        EMAIL2 = #{email2,jdbcType=VARCHAR},
      </if>
      <if test="email3 != null" >
        EMAIL3 = #{email3,jdbcType=VARCHAR},
      </if>
      <if test="email4 != null" >
        EMAIL4 = #{email4,jdbcType=VARCHAR},
      </if>
      <if test="adminRole != null" >
        ADMIN_ROLE = #{adminRole,jdbcType=INTEGER},
      </if>
      <if test="adminState != null" >
        ADMIN_STATE = #{adminState,jdbcType=INTEGER},
      </if>
      <if test="lastLoginTime != null" >
        LAST_LOGIN_TIME = #{lastLoginTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.vanstone.jupin.authority.persistence.object.AuthAdminDO" >
    update auth_admin
    set SYS_INSERT_TIME = #{sysInsertTime,jdbcType=TIMESTAMP},
      SYS_UPDATE_TIME = #{sysUpdateTime,jdbcType=TIMESTAMP},
      ADMIN_NAME = #{adminName,jdbcType=VARCHAR},
      ADMIN_PWD = #{adminPwd,jdbcType=VARCHAR},
      EMAIL1 = #{email1,jdbcType=VARCHAR},
      EMAIL2 = #{email2,jdbcType=VARCHAR},
      EMAIL3 = #{email3,jdbcType=VARCHAR},
      EMAIL4 = #{email4,jdbcType=VARCHAR},
      ADMIN_ROLE = #{adminRole,jdbcType=INTEGER},
      ADMIN_STATE = #{adminState,jdbcType=INTEGER},
      LAST_LOGIN_TIME = #{lastLoginTime,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <select id="selectByAdminName" parameterType="map" resultMap="BaseResultMap">
  	SELECT <include refid="Base_Column_List"/> FROM 
  	auth_admin 
  	WHERE 
  	ADMIN_NAME = #{adminName,jdbcType=VARCHAR}
  </select>
   <select id="selectByAdminName_NotSelf" parameterType="map" resultMap="BaseResultMap">
  	SELECT <include refid="Base_Column_List"/> FROM 
  	auth_admin 
  	WHERE 
  	ADMIN_NAME = #{adminName,jdbcType=VARCHAR} 
  	AND 
  	ID &lt;&gt; #{id,jdbcType=VARCHAR}
  </select>
  <update id="updateBaseInfo" parameterType="com.vanstone.jupin.authority.persistence.object.AuthAdminDO" >
  	UPDATE AUTH_ADMIN 
  	SET 
      SYS_UPDATE_TIME = #{sysUpdateTime,jdbcType=TIMESTAMP},
      EMAIL1 = #{email1,jdbcType=VARCHAR},
      EMAIL2 = #{email2,jdbcType=VARCHAR},
      EMAIL3 = #{email3,jdbcType=VARCHAR},
      EMAIL4 = #{email4,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateAdminName" parameterType="com.vanstone.jupin.authority.persistence.object.AuthAdminDO" >
  	UPDATE AUTH_ADMIN 
  	SET 
      ADMIN_NAME = #{adminName,jdbcType=VARCHAR}
      SYS_UPDATE_TIME = #{sysUpdateTime,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateAdminRole" parameterType="com.vanstone.jupin.authority.persistence.object.AuthAdminDO" >
  	UPDATE AUTH_ADMIN 
  	SET 
      ADMIN_ROLE = #{adminRole,jdbcType=INTEGER}
      SYS_UPDATE_TIME = #{sysUpdateTime,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateAdminState" parameterType="com.vanstone.jupin.authority.persistence.object.AuthAdminDO" >
  	UPDATE AUTH_ADMIN 
  	SET 
      ADMIN_STATE = #{adminState,jdbcType=INTEGER}
      SYS_UPDATE_TIME = #{sysUpdateTime,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updatePassword" parameterType="com.vanstone.jupin.authority.persistence.object.AuthAdminDO" >
  	UPDATE AUTH_ADMIN 
  	SET 
      ADMIN_PWD = #{adminPwd,jdbcType=VARCHAR}
      SYS_UPDATE_TIME = #{sysUpdateTime,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
   <select id="selectByKey" parameterType="map" resultMap="BaseResultMap">
  	SELECT <include refid="Base_Column_List"/> FROM 
  	AUTH_ADMIN 
  	<include refid="SELECT_BY_KEY_SQL"/>
  	ORDER BY SYS_INSERT_TIME DESC 
  </select>
  <select id="selectTotalByKey" parameterType="map" resultMap="BaseResultMap">
  	SELECT COUNT(0) AS C FROM 
  	AUTH_ADMIN 
  	<include refid="SELECT_BY_KEY_SQL"/>
  </select>
  <sql id="SELECT_BY_KEY_SQL">
  	<where>
  		<if test="key != null and key != ''">
  			OR ADMIN_NAME LIKE "%"#{key,jdbcType=VARCHAR}"%" 
  			OR EMAIL1 LIKE "%"#{key,jdbcType=VARCHAR}"%" 
  			OR EMAIL2 LIKE "%"#{key,jdbcType=VARCHAR}"%" 
  			OR EMAIL3 LIKE "%"#{key,jdbcType=VARCHAR}"%" 
  			OR EMAIL4 LIKE "%"#{key,jdbcType=VARCHAR}"%" 
  		</if>
  	</where> 
  </sql>
</mapper>