<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.vanstone.jupin.productdefine.persistence.PDTAttributeDefDOMapper" >
  <resultMap id="BaseResultMap" type="com.vanstone.jupin.productdefine.persistence.object.PDTAttributeDefDO" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="ATTRIBUTE_NAME" property="attributeName" jdbcType="VARCHAR" />
    <result column="ATTRIBUTE_TYPE" property="attributeType" jdbcType="INTEGER" />
    <result column="SEARCHABLE" property="searchable" jdbcType="INTEGER" />
    <result column="ATTRIBUTE_SCOPE" property="attributeScope" jdbcType="INTEGER" />
    <result column="LISTSHOWABLE" property="listshowable" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.vanstone.jupin.productdefine.persistence.object.PDTAttributeDefDO" extends="BaseResultMap" >
    <result column="ATTRIBUTE_DESCRIPTION" property="attributeDescription" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, ATTRIBUTE_NAME, ATTRIBUTE_TYPE, SEARCHABLE, ATTRIBUTE_SCOPE, LISTSHOWABLE
  </sql>
  <sql id="Blob_Column_List" >
    ATTRIBUTE_DESCRIPTION
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from pdt_attribute_def
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from pdt_attribute_def
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.vanstone.jupin.productdefine.persistence.object.PDTAttributeDefDO" 
  		useGeneratedKeys="true" keyProperty="id">
		<selectKey resultType="int" order="AFTER" keyProperty="id">
			select LAST_INSERT_ID() as id
		</selectKey>
    insert into pdt_attribute_def (ID, ATTRIBUTE_NAME, ATTRIBUTE_TYPE, 
      SEARCHABLE, ATTRIBUTE_SCOPE, LISTSHOWABLE, 
      ATTRIBUTE_DESCRIPTION)
    values (#{id,jdbcType=INTEGER}, #{attributeName,jdbcType=VARCHAR}, #{attributeType,jdbcType=INTEGER}, 
      #{searchable,jdbcType=INTEGER}, #{attributeScope,jdbcType=INTEGER}, #{listshowable,jdbcType=INTEGER}, 
      #{attributeDescription,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.vanstone.jupin.productdefine.persistence.object.PDTAttributeDefDO" 
  	useGeneratedKeys="true" keyProperty="id">
		<selectKey resultType="int" order="AFTER" keyProperty="id">
			select LAST_INSERT_ID() as id
		</selectKey>
    insert into pdt_attribute_def
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="attributeName != null" >
        ATTRIBUTE_NAME,
      </if>
      <if test="attributeType != null" >
        ATTRIBUTE_TYPE,
      </if>
      <if test="searchable != null" >
        SEARCHABLE,
      </if>
      <if test="attributeScope != null" >
        ATTRIBUTE_SCOPE,
      </if>
      <if test="listshowable != null" >
        LISTSHOWABLE,
      </if>
      <if test="attributeDescription != null" >
        ATTRIBUTE_DESCRIPTION,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="attributeName != null" >
        #{attributeName,jdbcType=VARCHAR},
      </if>
      <if test="attributeType != null" >
        #{attributeType,jdbcType=INTEGER},
      </if>
      <if test="searchable != null" >
        #{searchable,jdbcType=INTEGER},
      </if>
      <if test="attributeScope != null" >
        #{attributeScope,jdbcType=INTEGER},
      </if>
      <if test="listshowable != null" >
        #{listshowable,jdbcType=INTEGER},
      </if>
      <if test="attributeDescription != null" >
        #{attributeDescription,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.vanstone.jupin.productdefine.persistence.object.PDTAttributeDefDO" >
    update pdt_attribute_def
    <set >
      <if test="attributeName != null" >
        ATTRIBUTE_NAME = #{attributeName,jdbcType=VARCHAR},
      </if>
      <if test="attributeType != null" >
        ATTRIBUTE_TYPE = #{attributeType,jdbcType=INTEGER},
      </if>
      <if test="searchable != null" >
        SEARCHABLE = #{searchable,jdbcType=INTEGER},
      </if>
      <if test="attributeScope != null" >
        ATTRIBUTE_SCOPE = #{attributeScope,jdbcType=INTEGER},
      </if>
      <if test="listshowable != null" >
        LISTSHOWABLE = #{listshowable,jdbcType=INTEGER},
      </if>
      <if test="attributeDescription != null" >
        ATTRIBUTE_DESCRIPTION = #{attributeDescription,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.vanstone.jupin.productdefine.persistence.object.PDTAttributeDefDO" >
    update pdt_attribute_def
    set ATTRIBUTE_NAME = #{attributeName,jdbcType=VARCHAR},
      ATTRIBUTE_TYPE = #{attributeType,jdbcType=INTEGER},
      SEARCHABLE = #{searchable,jdbcType=INTEGER},
      ATTRIBUTE_SCOPE = #{attributeScope,jdbcType=INTEGER},
      LISTSHOWABLE = #{listshowable,jdbcType=INTEGER},
      ATTRIBUTE_DESCRIPTION = #{attributeDescription,jdbcType=LONGVARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.vanstone.jupin.productdefine.persistence.object.PDTAttributeDefDO" >
    update pdt_attribute_def
    set ATTRIBUTE_NAME = #{attributeName,jdbcType=VARCHAR},
      ATTRIBUTE_TYPE = #{attributeType,jdbcType=INTEGER},
      SEARCHABLE = #{searchable,jdbcType=INTEGER},
      ATTRIBUTE_SCOPE = #{attributeScope,jdbcType=INTEGER},
      LISTSHOWABLE = #{listshowable,jdbcType=INTEGER}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>