<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.vanstone.jupin.productdefine.persistence.PDTCategoryDOMapper" >
  <resultMap id="BaseResultMap" type="com.vanstone.jupin.productdefine.persistence.object.PDTCategoryDO" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="CATEGORY_NAME" property="categoryName" jdbcType="VARCHAR" />
    <result column="DESCRIPTION" property="description" jdbcType="VARCHAR" />
    <result column="CATEGORY_BIND_PAGE" property="categoryBindPage" jdbcType="VARCHAR" />
    <result column="COVER_FILE_ID" property="coverFileId" jdbcType="VARCHAR" />
    <result column="COVER_FILE_WIDTH" property="coverFileWidth" jdbcType="INTEGER" />
    <result column="COVER_FILE_HEIGHT" property="coverFileHeight" jdbcType="INTEGER" />
    <result column="COVER_FILE_EXT" property="coverFileExt" jdbcType="VARCHAR" />
    <result column="PARENT_ID" property="parentId" jdbcType="INTEGER" />
    <result column="SORT" property="sort" jdbcType="INTEGER" />
    <result column="LEAFABLE" property="leafable" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, CATEGORY_NAME, DESCRIPTION, CATEGORY_BIND_PAGE, COVER_FILE_ID, COVER_FILE_WIDTH, 
    COVER_FILE_HEIGHT, COVER_FILE_EXT, PARENT_ID, SORT, LEAFABLE
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from pdt_category
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from pdt_category
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.vanstone.jupin.productdefine.persistence.object.PDTCategoryDO" 
  	useGeneratedKeys="true" keyProperty="id">
		<selectKey resultType="int" order="AFTER" keyProperty="id">
			select LAST_INSERT_ID() as id
		</selectKey>
    insert into pdt_category (ID, CATEGORY_NAME, DESCRIPTION, 
      CATEGORY_BIND_PAGE, COVER_FILE_ID, COVER_FILE_WIDTH, 
      COVER_FILE_HEIGHT, COVER_FILE_EXT, PARENT_ID, 
      SORT, LEAFABLE)
    values (#{id,jdbcType=INTEGER}, #{categoryName,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, 
      #{categoryBindPage,jdbcType=VARCHAR}, #{coverFileId,jdbcType=VARCHAR}, #{coverFileWidth,jdbcType=INTEGER}, 
      #{coverFileHeight,jdbcType=INTEGER}, #{coverFileExt,jdbcType=VARCHAR}, #{parentId,jdbcType=INTEGER}, 
      #{sort,jdbcType=INTEGER}, #{leafable,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.vanstone.jupin.productdefine.persistence.object.PDTCategoryDO" 
  	useGeneratedKeys="true" keyProperty="id">
		<selectKey resultType="int" order="AFTER" keyProperty="id">
			select LAST_INSERT_ID() as id
		</selectKey>
    insert into pdt_category
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="categoryName != null" >
        CATEGORY_NAME,
      </if>
      <if test="description != null" >
        DESCRIPTION,
      </if>
      <if test="categoryBindPage != null" >
        CATEGORY_BIND_PAGE,
      </if>
      <if test="coverFileId != null" >
        COVER_FILE_ID,
      </if>
      <if test="coverFileWidth != null" >
        COVER_FILE_WIDTH,
      </if>
      <if test="coverFileHeight != null" >
        COVER_FILE_HEIGHT,
      </if>
      <if test="coverFileExt != null" >
        COVER_FILE_EXT,
      </if>
      <if test="parentId != null" >
        PARENT_ID,
      </if>
      <if test="sort != null" >
        SORT,
      </if>
      <if test="leafable != null" >
        LEAFABLE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="categoryName != null" >
        #{categoryName,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="categoryBindPage != null" >
        #{categoryBindPage,jdbcType=VARCHAR},
      </if>
      <if test="coverFileId != null" >
        #{coverFileId,jdbcType=VARCHAR},
      </if>
      <if test="coverFileWidth != null" >
        #{coverFileWidth,jdbcType=INTEGER},
      </if>
      <if test="coverFileHeight != null" >
        #{coverFileHeight,jdbcType=INTEGER},
      </if>
      <if test="coverFileExt != null" >
        #{coverFileExt,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null" >
        #{parentId,jdbcType=INTEGER},
      </if>
      <if test="sort != null" >
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="leafable != null" >
        #{leafable,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.vanstone.jupin.productdefine.persistence.object.PDTCategoryDO" >
    update pdt_category
    <set >
      <if test="categoryName != null" >
        CATEGORY_NAME = #{categoryName,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        DESCRIPTION = #{description,jdbcType=VARCHAR},
      </if>
      <if test="categoryBindPage != null" >
        CATEGORY_BIND_PAGE = #{categoryBindPage,jdbcType=VARCHAR},
      </if>
      <if test="coverFileId != null" >
        COVER_FILE_ID = #{coverFileId,jdbcType=VARCHAR},
      </if>
      <if test="coverFileWidth != null" >
        COVER_FILE_WIDTH = #{coverFileWidth,jdbcType=INTEGER},
      </if>
      <if test="coverFileHeight != null" >
        COVER_FILE_HEIGHT = #{coverFileHeight,jdbcType=INTEGER},
      </if>
      <if test="coverFileExt != null" >
        COVER_FILE_EXT = #{coverFileExt,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null" >
        PARENT_ID = #{parentId,jdbcType=INTEGER},
      </if>
      <if test="sort != null" >
        SORT = #{sort,jdbcType=INTEGER},
      </if>
      <if test="leafable != null" >
        LEAFABLE = #{leafable,jdbcType=INTEGER},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.vanstone.jupin.productdefine.persistence.object.PDTCategoryDO" >
    update pdt_category
    set CATEGORY_NAME = #{categoryName,jdbcType=VARCHAR},
      DESCRIPTION = #{description,jdbcType=VARCHAR},
      CATEGORY_BIND_PAGE = #{categoryBindPage,jdbcType=VARCHAR},
      COVER_FILE_ID = #{coverFileId,jdbcType=VARCHAR},
      COVER_FILE_WIDTH = #{coverFileWidth,jdbcType=INTEGER},
      COVER_FILE_HEIGHT = #{coverFileHeight,jdbcType=INTEGER},
      COVER_FILE_EXT = #{coverFileExt,jdbcType=VARCHAR},
      PARENT_ID = #{parentId,jdbcType=INTEGER},
      SORT = #{sort,jdbcType=INTEGER},
      LEAFABLE = #{leafable,jdbcType=INTEGER}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>