<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.vanstone.jupin.productdefine.persistence.PDTSkuSizeTemplateDOMapper" >
  <resultMap id="BaseResultMap" type="com.vanstone.jupin.productdefine.persistence.object.PDTSkuSizeTemplateDO" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="TEMPLATE_NAME" property="templateName" jdbcType="VARCHAR" />
    <result column="SYSTEMABLE" property="systemable" jdbcType="INTEGER" />
    <result column="WAISTLINEABLE" property="waistlineable" jdbcType="INTEGER" />
    <result column="WEIGHTABLE" property="weightable" jdbcType="INTEGER" />
    <result column="HIPABLE" property="hipable" jdbcType="INTEGER" />
    <result column="CHESTABLE" property="chestable" jdbcType="INTEGER" />
    <result column="HEIGHTABLE" property="heightable" jdbcType="INTEGER" />
    <result column="SHOULDERABLE" property="shoulderable" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.vanstone.jupin.productdefine.persistence.object.PDTSkuSizeTemplateDO" extends="BaseResultMap" >
    <result column="TEMPLATE_CONTENT" property="templateContent" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, TEMPLATE_NAME, SYSTEMABLE, WAISTLINEABLE, WEIGHTABLE, HIPABLE, CHESTABLE, HEIGHTABLE, 
    SHOULDERABLE
  </sql>
  <sql id="Template_Column_List">
  	TEMPLATE_NAME
  </sql>
  <sql id="Blob_Column_List" >
    TEMPLATE_CONTENT
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from pdt_sku_size_template
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from pdt_sku_size_template
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.vanstone.jupin.productdefine.persistence.object.PDTSkuSizeTemplateDO" 
  	useGeneratedKeys="true" keyProperty="id">
		<selectKey resultType="int" order="AFTER" keyProperty="id">
			select LAST_INSERT_ID() as id
		</selectKey>
    insert into pdt_sku_size_template (ID, TEMPLATE_NAME, SYSTEMABLE, 
      WAISTLINEABLE, WEIGHTABLE, HIPABLE, 
      CHESTABLE, HEIGHTABLE, SHOULDERABLE, 
      TEMPLATE_CONTENT)
    values (#{id,jdbcType=INTEGER}, #{templateName,jdbcType=VARCHAR}, #{systemable,jdbcType=INTEGER}, 
      #{waistlineable,jdbcType=INTEGER}, #{weightable,jdbcType=INTEGER}, #{hipable,jdbcType=INTEGER}, 
      #{chestable,jdbcType=INTEGER}, #{heightable,jdbcType=INTEGER}, #{shoulderable,jdbcType=INTEGER}, 
      #{templateContent,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.vanstone.jupin.productdefine.persistence.object.PDTSkuSizeTemplateDO" 
  	useGeneratedKeys="true" keyProperty="id">
		<selectKey resultType="int" order="AFTER" keyProperty="id">
			select LAST_INSERT_ID() as id
		</selectKey>
    insert into pdt_sku_size_template
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="templateName != null" >
        TEMPLATE_NAME,
      </if>
      <if test="systemable != null" >
        SYSTEMABLE,
      </if>
      <if test="waistlineable != null" >
        WAISTLINEABLE,
      </if>
      <if test="weightable != null" >
        WEIGHTABLE,
      </if>
      <if test="hipable != null" >
        HIPABLE,
      </if>
      <if test="chestable != null" >
        CHESTABLE,
      </if>
      <if test="heightable != null" >
        HEIGHTABLE,
      </if>
      <if test="shoulderable != null" >
        SHOULDERABLE,
      </if>
      <if test="templateContent != null" >
        TEMPLATE_CONTENT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="templateName != null" >
        #{templateName,jdbcType=VARCHAR},
      </if>
      <if test="systemable != null" >
        #{systemable,jdbcType=INTEGER},
      </if>
      <if test="waistlineable != null" >
        #{waistlineable,jdbcType=INTEGER},
      </if>
      <if test="weightable != null" >
        #{weightable,jdbcType=INTEGER},
      </if>
      <if test="hipable != null" >
        #{hipable,jdbcType=INTEGER},
      </if>
      <if test="chestable != null" >
        #{chestable,jdbcType=INTEGER},
      </if>
      <if test="heightable != null" >
        #{heightable,jdbcType=INTEGER},
      </if>
      <if test="shoulderable != null" >
        #{shoulderable,jdbcType=INTEGER},
      </if>
      <if test="templateContent != null" >
        #{templateContent,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.vanstone.jupin.productdefine.persistence.object.PDTSkuSizeTemplateDO" >
    update pdt_sku_size_template
    <set >
      <if test="templateName != null" >
        TEMPLATE_NAME = #{templateName,jdbcType=VARCHAR},
      </if>
      <if test="systemable != null" >
        SYSTEMABLE = #{systemable,jdbcType=INTEGER},
      </if>
      <if test="waistlineable != null" >
        WAISTLINEABLE = #{waistlineable,jdbcType=INTEGER},
      </if>
      <if test="weightable != null" >
        WEIGHTABLE = #{weightable,jdbcType=INTEGER},
      </if>
      <if test="hipable != null" >
        HIPABLE = #{hipable,jdbcType=INTEGER},
      </if>
      <if test="chestable != null" >
        CHESTABLE = #{chestable,jdbcType=INTEGER},
      </if>
      <if test="heightable != null" >
        HEIGHTABLE = #{heightable,jdbcType=INTEGER},
      </if>
      <if test="shoulderable != null" >
        SHOULDERABLE = #{shoulderable,jdbcType=INTEGER},
      </if>
      <if test="templateContent != null" >
        TEMPLATE_CONTENT = #{templateContent,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.vanstone.jupin.productdefine.persistence.object.PDTSkuSizeTemplateDO" >
    update pdt_sku_size_template
    set TEMPLATE_NAME = #{templateName,jdbcType=VARCHAR},
      SYSTEMABLE = #{systemable,jdbcType=INTEGER},
      WAISTLINEABLE = #{waistlineable,jdbcType=INTEGER},
      WEIGHTABLE = #{weightable,jdbcType=INTEGER},
      HIPABLE = #{hipable,jdbcType=INTEGER},
      CHESTABLE = #{chestable,jdbcType=INTEGER},
      HEIGHTABLE = #{heightable,jdbcType=INTEGER},
      SHOULDERABLE = #{shoulderable,jdbcType=INTEGER},
      TEMPLATE_CONTENT = #{templateContent,jdbcType=LONGVARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.vanstone.jupin.productdefine.persistence.object.PDTSkuSizeTemplateDO" >
    update pdt_sku_size_template
    set TEMPLATE_NAME = #{templateName,jdbcType=VARCHAR},
      SYSTEMABLE = #{systemable,jdbcType=INTEGER},
      WAISTLINEABLE = #{waistlineable,jdbcType=INTEGER},
      WEIGHTABLE = #{weightable,jdbcType=INTEGER},
      HIPABLE = #{hipable,jdbcType=INTEGER},
      CHESTABLE = #{chestable,jdbcType=INTEGER},
      HEIGHTABLE = #{heightable,jdbcType=INTEGER},
      SHOULDERABLE = #{shoulderable,jdbcType=INTEGER}
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByTemplateName" parameterType="map" resultMap="ResultMapWithBLOBs">
  	SELECT <include refid="Base_Column_List"/>,<include refid="Blob_Column_List"/>
  	FROM 
  	pdt_sku_size_template 
  	WHERE 
  	TEMPLATE_NAME = #{templateName,jdbcType=VARCHAR}
  </select>
  <select id="selectByTemplateName_NotSelf" parameterType="map" resultMap="ResultMapWithBLOBs">
  	SELECT <include refid="Base_Column_List"/>,<include refid="Blob_Column_List"/>
  	FROM
  	pdt_sku_size_template 
  	WHERE 
  	TEMPLATE_NAME = #{templateName,jdbcType=VARCHAR} 
  	AND 
  	ID = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="ResultMapWithBLOBs">
  	SELECT <include refid="Base_Column_List"/>,<include refid="Blob_Column_List"/> 
  	FROM 
  	pdt_sku_size_template 
  </select>
</mapper>