<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper
	namespace="com.vanstone.jupin.ebs.pm.framework.persistence.PDTCategoryBrandRelDOMapper">
	<resultMap id="BaseResultMap" type="com.vanstone.jupin.ebs.pm.framework.persistence.object.PDTCategoryBrandRelDOKey">
		<id column="CATEGORY_ID" property="categoryId" jdbcType="INTEGER" />
		<id column="BRAND_ID" property="brandId" jdbcType="INTEGER" />
	</resultMap>
	<delete id="deleteByPrimaryKey"
		parameterType="com.vanstone.jupin.ebs.pm.framework.persistence.object.PDTCategoryBrandRelDOKey">
		delete from pdt_category_brand_rel
		where CATEGORY_ID = #{categoryId,jdbcType=INTEGER}
		and BRAND_ID = #{brandId,jdbcType=INTEGER}
	</delete>
	<insert id="insert"
		parameterType="com.vanstone.jupin.ebs.pm.framework.persistence.object.PDTCategoryBrandRelDOKey">
		insert into pdt_category_brand_rel (CATEGORY_ID, BRAND_ID)
		values (#{categoryId,jdbcType=INTEGER}, #{brandId,jdbcType=INTEGER})
	</insert>
	<insert id="insertSelective"
		parameterType="com.vanstone.jupin.ebs.pm.framework.persistence.object.PDTCategoryBrandRelDOKey">
		insert into pdt_category_brand_rel
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="categoryId != null">
				CATEGORY_ID,
			</if>
			<if test="brandId != null">
				BRAND_ID,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="categoryId != null">
				#{categoryId,jdbcType=INTEGER},
			</if>
			<if test="brandId != null">
				#{brandId,jdbcType=INTEGER},
			</if>
		</trim>
	</insert>
	<delete id="deleteByBrandId" parameterType="map" >
		DELETE FROM pdt_category_brand_rel 
		WHERE 
		BRAND_ID = #{brandId,jdbcType=INTEGER}
	</delete>
	<select id="selectByPrimaryKey" parameterType="map" resultMap="BaseResultMap">
		SELECT * FROM 
		pdt_category_brand_rel 
		WHERE 
		CATEGORY_ID = #{categoryId,jdbcType=INTEGER}
		AND 
		BRAND_ID = #{brandId,jdbcType=INTEGER}
	</select>
</mapper>